@import "tailwindcss";

@theme {
  --color-primary: #ff0f53;
  --color-accent: #00f2ea;

  --font-poppins: 'Poppins', sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
}